html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #d1e9ff;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Poppins';
    color:#108DFF; 
    background-image: url('../images/bg/Signup.svg');
    background-size:cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.signup {
    background-color: #fff;
	border-radius: 50px;
  	box-shadow: 27px 3px 110px rgba(0,0,0,0.2);
	overflow: hidden;
	width: 580px;
    height: 420px;
	max-width: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    text-align: center;
}

.row {
    width: 100%;
}

.row1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row1 .back {
    display: none;
}

h1{
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: bolder;
    margin: 10px 0 10px 0;
    text-shadow: 1px 1px #108DFF;
    text-align: left;
}

.row2 {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row2 p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 20px;
    margin-left: 15px;
}

label{
    display: block;
    text-align: left;
    width: 100%;
    font-family: 'NTR';
    font-size: 24px;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 25px;
}

input[type="text"] {
	background-color: #ffffff;
    border-color: #9CDAFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
	padding: 12px 15px;
	margin: 2px 14px 0 0;
    width: 85%;
    height: 18px;
}

.proceed {
    border-radius: 40px;
	border: 1px solid #108DFF;
	background-color: #108DFF;
    color: #FFFFFF;
    font-family: 'NTR';
    font-weight: 200;
	font-size: 20px;
	padding: 6px 45px;
	letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 30px 5px 0;
    width: 90%;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.continue {
    width: 80%;
}

button.proceed:hover {
    background-color: rgb(63, 221, 24);
    border: 1px solid  rgb(63, 221, 24);
}

button.back:hover {
    background-color: rgb(24, 159, 221);
    border: 1px solid  rgb(24, 159, 221);
}

.tos {
    width: 80%;
    text-align: justify;
    margin-top: 5px;
}

.back {
    float: right;
    font-family: 'NTR';
    border-radius: 50px;
	border: 1px solid #EC1E1E;
	background-color: #EC1E1E;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 45px;
	letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 5px 5px 0;
    height: min-content;
}

.dinoimg {
    display: block;
    margin-top: 78.5px;
}

.slogan {
    color: #0759A3;
    font-family: Reem Kufi;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.445);
}

.slogan p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.dino {
    display: block;
    margin-left: 40px;
    margin-top: 15px;
}

@media screen and (max-width: 1184px) {
    .signup {
        width: fit-content;
        height: 56vh;
    }

    .signup h1 {
        width: 50%;
    }

    .form {
        margin-top: 8px;
    }

    .sideback {
        display: none;
    }

    .row1 .back {
        display: block;
    }
}

@media screen and (max-width: 648px) {
    .signup {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .signup {
        width: 70vw;
    }
}