* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    font-family: "NTR", cursive;
    background: url('../images/bg/Signup.svg') no-repeat top center #d1e9ff;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper {
    width: 100%;
    max-width: 580px;
    height: 564px;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 27px 3px 110px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-width: 448px;
    display: flex;
    flex-direction: column;
}

.content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .back {
    float: right;
    font-family: 'NTR';
    border-radius: 50px;
    border: 1px solid #EC1E1E;
    background-color: #EC1E1E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 30px 5px 0;
    display: none;
}

.content .back:focus {
    outline: none;
}

.content h1 {
    text-transform: capitalize;
    color: #108DFF;
    font-family: 'NTR';
    font-weight: bolder;
    text-shadow: 1px 1px #108DFF;
    text-align: left;
    font-size: 3em;
    height: 58px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 30px;
}

form {
    width: 100%;
    margin: 25px 0;
}

.first,
.second,
.third {
    width: 100%;
    min-height: 65px;
    margin: 10px 0;
    overflow: hidden;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    background-color: #ffffff;
    border-color: #9CDAFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 0 0 0 24px;
    width: 90%;
    outline-style: none;
}

form label {
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
    color: #108DFF;
}

.first .inner {
    width: 47.5%;
    float: left;
    margin-right: 0;
}

.first .inner:last-child {
    margin-right: 0;
}

.second {
    clear: both;
}

.fourth {
    font-size: large;
    text-align: justify;
    margin: 0 0 0 0;
}

.fourth .inner {
    display: flex;
    align-items: center;
}

#cbx1 {
    width: 24px;
    height: 24px;
    margin-left: 26px;
}

#cbx1-label {
    color: #108DFF;
    width: 60%;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    line-height: 1em;
    font-size: medium;
}

.sixth {
    color: #108DFF;
    font-size: larger;
    margin-left: 26px;
}

.sixth a {
    color: #108DFF;
    font-weight: bold;
    text-decoration: none;
}

.sixth a:hover {
    color: #56af3c;
}

div.buton {
    background: #108dff;
    color: white;
    width: 65%;
    padding: 5px;
    margin: 14px 0px 14px 26px;
    border-radius: 25px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

a.buton {
    text-decoration: none;
}

div.buton:hover {
    background: rgb(63, 221, 24);
}

div.buton:active {
    transform: scale(0.95);
}

.back:hover {
    background: rgb(24, 159, 221);
    border: 1px solid rgb(24, 159, 221);
}

.back:active {
    transform: scale(0.95);
}

.back:focus {
    outline: none;
}

.back {
    float: right;
    font-family: 'NTR';
    border-radius: 50px;
    border: 1px solid #EC1E1E;
    background-color: #EC1E1E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 5px 5px 0;
    height: min-content;
    cursor: pointer;
}

.dinoimg {
    display: block;
    margin-top: 78.5px;
}

.slogan {
    color: #0759A3;
    font-family: Reem Kufi;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.445);
}

.slogan p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.dino {
    display: block;
    margin-left: 40px;
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    form {
        margin-top: 8px;
    }
    .sideback {
        display: none;
    }
    .content .back {
        display: block;
    }
}

@media screen and (max-width: 648px) {
    .wrapper {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 70vw;
    }
}