body {
    margin: 0px;
    background-image: url("../images/assets/bg-image5.svg");
    background-color: #FFFFFF;
    width: 100%;
    background-size: cover;
}
nav {
    padding: 20px;
    background: #ffffff;
    position: fixed;
    border-bottom: 3pt solid #D8EEFB;
    top: 0px;
    width: 100%;
}
#nav-brand img {
    display: inline-block;
    width: 35px;
    padding: 0px 20px 0px 40px;
    float: left;
}
#nav-menu a {
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 6px 30px;
    font-family: Mitr;
    font-size: 100%;
}
.non-active {
    color: #074074;
}
.active {
    color: #56AF2C;
}
#nav-menu a:hover {
    color: #56AF2C;
}
#nav-profil img{
    display: inline-block;
    float: right;
    padding-top: 2px;
    width: 40px;
}
#nav-profil img:hover{
    filter: drop-shadow(0 0 5px grey);
}
#nav-welcoming a {
    display: inline-block;
    float: right;
    padding: 10px 25px;
    font-family: Mulish;
    font-weight: bold;
    color: #074074;
}
#nav-logout img {
    display: inline-block;
    float: right;
    padding: 5px 80px 0px 10px;
    width: 30px;
}
#nav-logout img:hover{
    filter: drop-shadow(0 0 5px grey);
}
main {
    padding-top: 65px;
}
footer {
    bottom: 0px;
    background-color: #D8EEFB;
    position: fixed;
    width: 100%;
}
#foot-left {
    display: inline-block;
    float: left;
    margin-left: 60px;
    margin-bottom: 20px;
}
#foot-right {
    display: inline-block;
    float: right;
    margin: 10px 60px;
}
#brand {
    margin: 0px;
    font-family: Khand;
    font-size: 30px;
    padding-top: 10px;
    color: #074074;
}
#desc {
    margin: 0px;
    font-family: Mulish;
    color: #074074;
}
#foot-right p {
    margin: 5px;
    padding-top: 10px;
    font-family: Mulish;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #074074;
}
#foot-right img {
    width: 25px;
    padding: 10px;
} 
#foot-right img:hover {
    filter: drop-shadow(0 0 5px grey);
}

.contact-left{
    text-align: right;
    display: inline-block;
    width: 40%;
}
.contact-left p{
    font-family: Skranji;
    font-size: 40px;
    color:#074074;
    margin-block-start: 1.4em;
    margin-block-end: 0;
    margin-inline-end: 50px;
}

.contact-left img{
    margin-inline-end: 50px;
}

.contact-right{
    color: #074074;
    display: block;
    float: right;
    width: fit-content;
    margin: 90px 170px 5px 10px;
    padding: 20px;
    border-radius: 20px;
}

.contactus-form{
    font-family: 'Niramit';
    background-color: #FFFFFF;
    border: 10px solid  #d8eefb;
    border-radius: 20px;
    width: 520px;
}

.contactus-form p.mid{
    text-align: center;
    font-size: 22px;
    margin-block-start: 5px;
    margin-block-end: 14px;
}

.row{
    display: block;
    width: 100%;
}

.row p{
    font-weight: 600;
    margin-left: 94px;
    margin-block-start: 4px;
    margin-block-end: 2px;
}

.row input[type="email"]{
    background-color: #ffffff;
    border-color: #9CDAFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 2px 14px 0 0;
    width: 60%;
    margin-inline-start: 85px;
}

.row textarea[name="message"]{
    background-color: #ffffff;
    border-color: #9CDAFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 2px 14px 0 0;
    width: 60%;
    height: 40px;
    margin-inline-start: 85px;
}

button.send {
    font-family: 'NTR';
    font-weight: 700;
    border-radius: 20px;
    color: #074074;
    border: 1px solid #D8EEFB;
    background-color: #D8EEFB;
    font-size: 18px;
    padding: 0px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 20px 5px 20px 87px;
    width: 65%;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.continue {
    width: 80%;
}
