body {
    margin: 0px;
    background: url("/images/bg/Bgpart1.svg");
}
nav {
    display: inline-block;
    padding: 20px;
    background: #ffffff;
    position: fixed;
    border-bottom: 3pt solid #D8EEFB;
    top: 0;
    width: 100%;
    overflow: hidden;
}
#nav-brand {
    display: inline-block;
    float: left;
}
#nav-brand img {
    display: inline-block;
    width: 35px;
    padding: 0 20px 0 40px;
    float: left;
}
#nav-brand p {
    margin: 0;
    font-family: Khand;
    color: #074074;
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
}
#nav-menu {
    display: inline-block;
    float: right;
    padding-right: 50px;
}
#nav-menu a {
    display: inline-block;
    text-decoration: none;
    float: right;
    padding: 6px 30px;
    font-family: Mitr;
    font-size: 100%;
    color: #074074;
}
#home {
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
#homepage {
    margin-top: 200px;
}
#home img {
    display: inline-block;
    float: left;
    width: 550px;
    margin-left: 100px;
}
.homeright {
    display: inline-block;
    float: right;
}
.judul {
    display: block;
}
.judul h1{
    font-family: Lemon;
    font-size: xx-large;
    color: #074074;
    margin: 50px 110px 0 0;
}
.judul p {
    font-family: Mulish;
    text-align: center;
    margin: 25px 130px 0 0;
    color: #074074;
}
.homebutton {
    display: block;
    margin-top: 30px;
}
button.register{
    border-radius: 30px;
	border: 1px solid #074074;
	background-color: #074074;
    color: #FFFFFF;
    font-family: Mulish;
    font-weight: bold;
	font-size: 14px;
	padding: 12px 35px;
	letter-spacing: 1px;
    margin-bottom: 220px;
    display: inline-block;
    float: right;
    transition: transform 80ms ease-in;
}
button.login{
    border-radius: 30px;
	border: 5px solid #074074;
	background-color: #FFFFFF;
    color: #074074;
    font-family: Mulish;
    font-weight: bold;
	font-size: 14px;
	padding: 10px 60px;
	letter-spacing: 1px;
    margin: 0 115px 0 20px;
    display: inline-block;
    float: right;
    transition: transform 80ms ease-in;
}
main svg {
    background-color: #FFFFFF;
    margin: 0;
    fill: #D8EEFB;
    display: block;
}
#about {
    background: url("../images/assets/bg-image2.svg") #D8EEFB;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
#about div {
    width: 40%;
}
#about div a {
    display: inline-block;
    float: left;
    margin: 200px 0px 0px 100px;
    font-family: Skranji;
    color: #074074;
    font-size: 30px;
}
#about div p {
    margin: 20px 0px 0px 100px;
    width: 90%;
    font-family: Mulish;
    color: #074074;
    font-size: 20px;
    float: left;
}
#about img {
    display: inline-flex;
    width: 35%;
    margin: 0px 100px 180px 0px;
    float: right;
}
#about svg {
    margin: 0;
    display: block;
    background-color: unset;
    fill: #ffffff;
}
#programs {
    background-color: #ffffff;
    margin: 0px;
}
#contactus {
    background: url(/images/bg/Bgpart4.svg);
    background-color: #D8EEFB;
    font-family: 'Niramit';
}
footer {
    background-color: #D8EEFB;
    overflow: hidden;
}
#foot-left {
    display: inline-block;
    float: left;
    margin-left: 60px;
    margin-bottom: 20px;
}
#foot-right {
    display: inline-block;
    float: right;
    margin: 10px 60px;
}
#brand {
    margin: 0px;
    font-family: Khand;
    font-size: 30px;
    padding-top: 10px;
    color: #074074;
}
#desc {
    margin: 0px;
    font-family: Mulish;
    color: #074074;
}
#foot-right p {
    margin: 5px;
    padding-top: 10px;
    font-family: Mulish;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #074074;
}
#foot-right img {
    width: 25px;
    padding: 10px;
} 
#foot-right img:hover {
    filter: drop-shadow(0 0 5px grey);
}
#nav-menu a{
    color: #074074;
}
#nav-menu a:hover{
    color: #56AF2C;
}
#nav-menu a.active{
    color: #56AF2C;
}
#programs {
    padding: 90px 0 98px 0;
    font-family: Skranji;
    color: #074074;
    text-align: center;
    font-size: 25px;
    height: 500px;
}
#programs h3{
    font-size: 30px;
    margin-block-end: 2.5em;
    margin-inline-start: 5%;
}
#content {
    display: block;
}
#watching{
    display: inline-block;
    display: left;
    width:48%;
}
#watching div{
    font-size: 20px;
    font-family: Mulish;
    line-height: 2em;
    display: inline-block;
    text-align: center;
    width: 55%;
}
#watching a{
    font-family: Skranji;
}
#watching img{
    display: inline-block;
    width: 40%;
}
#listening{
    display: inline-block;
    width:48%;
}
#listening div{
    font-size: 20px;
    font-family: Mulish;
    line-height: 2em;
    display: inline-block;
    text-align: center;
    width: 65%;
}
#listening a{
    font-family: Skranji;
}
#listening img{
    display: inline-block;
    width: 30%;
}
#contactus {
    overflow: hidden;
}
.contact-left{
    text-align: right;
    display: inline-block;
    width: 40%;
}
.contact-left p{
    margin-top: 110px;
    font-family: Skranji;
    font-size: 40px;
    color:#074074;
}
.contact-left img {
    display: inline-block;
    width: 280px;
    margin-bottom: 50px;
}
.contact-right{
    color: #074074;
    display: block;
    float: right;
    width: fit-content;
    background-color: #ffffff;
    margin: 150px 100px 70px 10px;
    padding: 20px;
    border-radius: 20px;
}
.contactus-form{
    border: 10px solid  #d8eefb;
    border-radius: 20px;
    padding: 10px;
    width: 450px;
}
.contactus-form p.mid{
    text-align: center;
    font-size: 22px;
    margin-block-start: 5px;
    margin-block-end: 14px;
}
.row{
    display: block;
    width: 100%;
    clear: both;
}
.row p{
    font-weight: 600;
    margin-left: 80px;
    margin-block-start: 4px;
    margin-block-end: 2px;
}
.row input[type="email"]{
    background-color: #ffffff;
    border-color: #9CDAFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 2px 14px 0 0;
    width: 60%;
    margin-inline-start: 70px;
}

.row textarea[name="message"]{
    background-color: #ffffff;
    border-color: #9CDAFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 2px 14px 0 0;
    width: 60%;
    height: 40px;
    margin-inline-start: 70px;
}
button.send {
    font-family: 'NTR';
    font-weight: 700;
    border-radius: 20px;
    color: #074074;
    border: 1px solid #D8EEFB;
    background-color: #D8EEFB;
    font-size: 18px;
    padding: 0px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 20px 5px 10px 73px;
    width: 65%;
}
button:active {
	transform: scale(0.95);
}
button:focus {
	outline: none;
}
button.continue {
    width: 80%;
}