*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}


/* nav sect */

nav {
    padding: 10px;
    background: #ffffff;
    position: fixed;
    border-bottom: 3pt solid #D8EEFB;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

#nav-menu {
    display: flex;
}

#nav-left,
#nav-right {
    display: flex;
    align-items: center;
    width: 50%;
}

#nav-right {
    justify-content: flex-end;
}

#nav-left img {
    width: 35px;
    padding-left: 80px;
    padding-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    padding: 0px 30px;
    font-family: Mitr;
    font-size: 100%;
}

#nav-menu li {
    list-style: none;
}

#nav-right {
    list-style: none;
}

.non-active {
    color: #074074;
}

.active {
    color: #56AF2C;
}

#nav-menu a:hover {
    color: #56AF2C;
}

#nav-right img {
    padding-top: 2px;
    width: 40px;
}

#nav-right img:hover {
    filter: drop-shadow(0 0 5px grey);
}

#nav-right a {
    padding: 10px 25px;
    font-family: Mulish;
    font-weight: bold;
    color: #074074;
}

#nav-logout img {
    padding: 5px 80px 0px 10px;
    width: 30px;
}

#nav-logout img:hover {
    filter: drop-shadow(0 0 5px grey);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: lightblue;
    margin: 5px;
    transition: all 0.3s ease;
}

.title {
    display: none;
}

.title p {
    font-family: Khand;
    font-size: 30px;
}


/* main sect */

main {
    background-image: url("../images/assets/bg-image3.svg");
    width: 100%;
    height: 85vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main #menu {
    margin: 0px 200px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

main p {
    margin-top: 120px;
    font-family: Mulish;
    font-size: 25px;
    color: #56AF2C;
    text-align: center;
}

main a {
    display: flex;
    justify-content: center;
    width: 50%;
}

main img {
    margin-top: 50px;
    width: 300px;
}

main a :hover {
    filter: drop-shadow(0 0 10px grey);
}


/* footer sect */

.footer {
    background-color: #D8EEFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer ul {
    list-style: none;
}

#foot-left {
    margin-left: 100px;
    margin-bottom: 20px;
}

#foot-right {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#brand {
    margin: 0px;
    font-family: Khand;
    font-size: 30px;
    padding-top: 10px;
    color: #074074;
}

#desc {
    margin: 0px;
    font-family: Mulish;
    color: #074074;
}

#foot-right p {
    margin: 5px;
    padding-top: 10px;
    font-family: Mulish;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #074074;
}

#foot-right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#foot-right img {
    width: 25px;
    padding: 0 10px 10px 10px;
}

#foot-right img:hover {
    filter: drop-shadow(0 0 5px grey);
}


/* responsive */

@media screen and (max-width: 1074px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        margin-right: 60px;
        justify-content: right;
        display: block;
    }
    .title {
        justify-content: left;
        margin-right: 10%;
        display: flex;
    }
    .resp-items {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 130%;
    }
    #nav-menu,
    #nav-right {
        position: absolute;
        right: 0px;
        height: 192.075px;
        top: 10.5vh;
        background-color: white;
        border-bottom: 3pt solid #D8EEFB;
        display: flex;
        justify-content: unset;
        flex-direction: column;
        column-gap: 1em;
        align-items: center;
        width: 100%;
        transform: translateY(-150%);
        transition: transform 0.5s ease;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    #foot-left {
        margin-left: 40px;
    }
    #desc {
        font-size: small;
    }
    #foot-right {
        margin-right: 40px;
        margin-left: 40px;
    }
    .footer {
        padding-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        padding-top: 10px;
    }
}

.nav-active {
    transform: translateY(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.togle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.togle .line2 {
    opacity: 0;
}

.togle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}