body {
    margin: 0px;
    background-image: url("../images/assets/bg-image4.svg");
    background-color: #D8EEFB;
    width: 100%;
    background-size: cover;
}
nav {
    padding: 20px;
    background: #ffffff;
    position: fixed;
    border-bottom: 3pt solid #D8EEFB;
    top: 0px;
    width: 100%;
}
#nav-brand img {
    display: inline-block;
    width: 35px;
    padding: 0px 20px 0px 40px;
    float: left;
}
#nav-menu a {
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 6px 30px;
    font-family: Mitr;
    font-size: 100%;
}
.non-active {
    color: #074074;
}
.active {
    color: #56AF2C;
}
#nav-menu a:hover {
    color: #56AF2C;
}
#nav-profil img{
    display: inline-block;
    float: right;
    padding-top: 2px;
    width: 40px;
}
#nav-profil img:hover{
    filter: drop-shadow(0 0 5px grey);
}
#nav-welcoming a {
    display: inline-block;
    float: right;
    padding: 10px 25px;
    font-family: Mulish;
    font-weight: bold;
    color: #074074;
}
#nav-logout img {
    display: inline-block;
    float: right;
    padding: 5px 80px 0px 10px;
    width: 30px;
}
#nav-logout img:hover{
    filter: drop-shadow(0 0 5px grey);
}

main {
    padding-top: 100px;
}

form.left{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 35px;
    height: 100%;
    text-align: center;
    float: left;
	border-radius: 45px;
  	box-shadow: 27px 3px 110px rgba(0,0,0,0.2);
	width: 400px;
    height: 540px;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 99px;
}

form.right{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    height: 100%;
    text-align: center;
    float: right;
    border-radius: 45px;
  	box-shadow: 27px 3px 110px rgba(0,0,0,0.2);
	width: 540px;
    height: 540px;
    max-width: 100%;
    margin-top: 20px;
    margin-right: 99px;
}

.profile-pic {
    margin-top: 20px;
    border-radius: 50%;
    height: 360px;
    width: 360px;
    background-size: cover;
    background-position: center;
}

.left a {
    font-family: 'Poppins';
    font-size: 22px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #108DFF;
    margin-top: 36px;
}

.left a:hover{
    color: #56AF2C;
}

h1{
    color: #108DFF;
    text-transform: capitalize;
    font-family: 'NTR';
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    text-align: left;
    margin-block-end: 0;
    margin-block-start: 0.3em;
}

.right .row p{
    font-family: 'Poppins';
    text-align: left;
    margin-inline-start: 50px;
    font-size: 24px;
    margin-block-end: 10px;
    margin-block-start: 6px;
    color: #108DFF;
}

.right input {
    border-radius: 16px;
    border: 1px solid #9CDAFF;
    font-family: 'Mulish';
	font-size: 24px;
    text-align: left;
	padding: 12px 45px;
	letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 0 5px 0 0;
    height: 30px;
    width: 80%;
}

.right button{
    border-radius: 40px;
	border: 1px solid #108DFF;
	background-color: #108DFF;
    color: #FFFFFF;
    font-family: 'NTR';
    font-weight: 200;
	font-size: 20px;
	padding: 4px 35px;
	letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 30px 10px 0 0;
    width: 26%;
    float: right;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.continue {
    width: 80%;
}