body {
    margin: 0px;
    background-image: url("../images/assets/bg-image4.svg");
    background-color: #D8EEFB;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    background: #ffffff;
    position: fixed;
    border-bottom: 3pt solid #D8EEFB;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
}

#nav-brand img {
    width: 35px;
    padding: 0px 20px 0px 40px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#nav-menu a {
    text-decoration: none;
    padding: 6px 30px;
    font-family: Mitr;
    font-size: 100%;
}

.non-active {
    color: #074074;
}

.active {
    color: #56AF2C;
}

#nav-menu a:hover {
    color: #56AF2C;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.title {
    display: none;
    background-color: white;
    top: 0%;
}

.title p {
    font-family: Khand;
    font-weight: bold;
    font-size: x-large;
    color: #074074;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: lightblue;
    margin: 5px;
    transition: all 0.3s ease;
}

#nav-profil img {
    padding-top: 2px;
    width: 40px;
}

#nav-profil img:hover {
    filter: drop-shadow(0 0 5px grey);
}

#nav-welcoming a {
    padding: 10px 25px;
    font-family: Mulish;
    font-weight: bold;
    color: #074074;
}

#nav-logout img {
    padding: 5px 80px 0px 10px;
    width: 30px;
}

#nav-logout img:hover {
    filter: drop-shadow(0 0 5px grey);
}

main {
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

form.left {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 35px;
    height: 100%;
    text-align: center;
    float: left;
    border-radius: 45px;
    box-shadow: 27px 3px 110px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 540px;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 99px;
}

form.right {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    height: 100%;
    text-align: center;
    float: right;
    border-radius: 45px;
    box-shadow: 27px 3px 110px rgba(0, 0, 0, 0.2);
    width: 540px;
    height: 540px;
    max-width: 100%;
    margin-top: 20px;
    margin-right: 99px;
}

.profile-pic {
    margin-top: 20px;
    border-radius: 50%;
    height: 360px;
    width: 360px;
    background-size: cover;
    background-position: center;
}

.left a {
    font-family: 'Poppins';
    font-size: 22px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #108DFF;
    margin-top: 36px;
}

.left a:hover {
    color: #56AF2C;
}

h1 {
    color: #108DFF;
    text-transform: capitalize;
    font-family: 'NTR';
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    text-align: left;
    margin-block-end: 0;
    margin-block-start: 0.3em;
}

.right .row p {
    font-family: 'Poppins';
    text-align: left;
    margin-inline-start: 50px;
    font-size: 24px;
    margin-block-end: 10px;
    margin-block-start: 6px;
    color: #108DFF;
}

.right input {
    border-radius: 16px;
    border: 1px solid #9CDAFF;
    font-family: 'Mulish';
    font-size: 24px;
    text-align: left;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 0 5px 0 0;
    height: 30px;
    width: 80%;
}

.right button {
    border-radius: 40px;
    border: 1px solid #108DFF;
    background-color: #108DFF;
    color: #FFFFFF;
    font-family: 'NTR';
    font-weight: 200;
    font-size: 20px;
    padding: 4px 35px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 30px 10px 0 0;
    float: right;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.continue {
    width: 80%;
}

button:hover {
    background-color: #56AF2C;
}

@media screen and (max-width: 1374px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        margin-right: 60px;
        justify-content: right;
        display: block;
    }
    .title {
        justify-content: left;
        margin-right: 10%;
        display: flex;
    }
    .resp-items {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 200%;
        z-index: 3;
    }
    .hide {
        width: 38%;
    }
    .hidden {
        display: block;
    }
    .nav-right {
        display: none;
    }
    .nav-menu {
        position: absolute;
        right: 0px;
        height: 190.075px;
        top: 8vh;
        background-color: white;
        border-bottom: 3pt solid #D8EEFB;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        width: 100%;
        transform: translateY(-150%);
        transition: all 0.7s ease;
        margin-right: 0;
    }
    .nav-right {
        position: absolute;
        right: 0px;
        height: 190.075px;
        top: 8vh;
        background-color: white;
        border-bottom: 3pt solid #D8EEFB;
        display: flex;
        flex-direction: column;
        column-gap: 1em;
        align-items: center;
        width: 100%;
        transform: translateY(-150%);
        margin-right: 0;
        display: none;
    }
    nav ul {
        z-index: -1;
    }
    #nav-left {
        width: 45%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form.left {
        margin-left: 0;
    }
    form.right {
        margin-right: 0;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1224px) {
    .resp-items {
        column-gap: 185%;
    }
    .hide {
        width: 37%;
    }
}

@media screen and (max-width: 1174px) {
    .resp-items {
        column-gap: 175%;
    }
    .hide {
        width: 37%;
    }
}

@media screen and (max-width: 1124px) {
    .resp-items {
        column-gap: 165%;
    }
    .hide {
        width: 36.3%;
    }
}

@media screen and (max-width: 1074px) {
    .resp-items {
        column-gap: 150%;
    }
    .hide {
        width: 35.7%;
    }
}

@media screen and (max-width: 1024px) {
    .resp-items {
        column-gap: 140%;
    }
    .hide {
        width: 35%;
    }
}

@media screen and (max-width: 974px) {
    .resp-items {
        column-gap: 125%;
    }
    .hide {
        width: 33%;
    }
}

@media screen and (max-width: 874px) {
    .resp-items {
        column-gap: 120%;
    }
    .hide {
        width: 32%;
    }
}

@media screen and (max-width: 824px) {
    .resp-items {
        column-gap: 100%;
    }
    .hide {
        width: 31%;
    }
}

@media screen and (max-width: 774px) {
    .resp-items {
        column-gap: 90%;
    }
    .hide {
        width: 29.7%;
    }
}

@media screen and (max-width: 724px) {
    .resp-items {
        column-gap: 74%;
    }
    .hide {
        width: 28%;
    }
}

@media screen and (max-width: 674px) {
    .resp-items {
        column-gap: 70%;
    }
    .hide {
        width: 41%;
    }
    form.right {
        width: 68vw;
    }
}

@media screen and (max-width: 654px) {
    .resp-items {
        column-gap: 70%;
    }
    .hide {
        width: 26%;
    }
}

@media screen and (max-width: 634px) {
    .resp-items {
        column-gap: 60%;
    }
    .hide {
        width: 25%;
    }
}

@media screen and (max-width: 624px) {
    .resp-items {
        column-gap: 70%;
    }
    .hide {
        width: 23%;
    }
}

@media screen and (max-width: 614px) {
    .resp-items {
        column-gap: 60%;
    }
    .hide {
        width: 22.7%;
    }
}

@media screen and (max-width: 584px) {
    .resp-items {
        column-gap: 50%;
    }
    .hide {
        width: 22%;
    }
}

@media screen and (max-width: 524px) {
    .resp-items {
        column-gap: 50%;
    }
    .hide {
        width: 24%;
    }
}

.nav-active {
    transform: translateY(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.togle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.togle .line2 {
    opacity: 0;
}

.togle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}