@font-face {
    font-family: "Poetsen One"; 
    src: url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot"); 
    src: url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.svg#Poetsen One") format("svg"); 
}

body {
    margin: 0px;
}
nav {
    padding: 20px;
    background: #ffffff;
    position: fixed;
    border-bottom: 3pt solid #D8EEFB;
    top: 0px;
    width: 100%;
    overflow: hidden;
}
#nav-brand img {
    display: inline-block;
    width: 35px;
    padding: 0px 20px 0px 40px;
    float: left;
}
#nav-menu a {
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 6px 30px;
    font-family: Mitr;
    font-size: 100%;
}
.non-active {
    color: #074074;
}
.active {
    color: #56AF2C;
}
#nav-menu a:hover {
    color: #56AF2C;
}
#nav-profil img{
    display: inline-block;
    float: right;
    padding-top: 2px;
    width: 40px;
}
#nav-profil img:hover{
    filter: drop-shadow(0 0 5px grey);
}
#nav-welcoming a {
    display: inline-block;
    float: right;
    padding: 10px 25px;
    font-family: Mulish;
    font-weight: bold;
    color: #074074;
}
#nav-logout img {
    display: inline-block;
    float: right;
    padding: 5px 80px 0px 10px;
    width: 30px;
}
#nav-logout img:hover{
    filter: drop-shadow(0 0 5px grey);
}
main p{
    padding-top: 80px;
    display: block;
    text-align: center;
    font-family: 'Poetsen One';
    font-size: 40px;
    color: #074074;
}
.row{
    display: block;
    width: 100%;
    clear: both;
    margin-left: 20px;
}
.row .left{
    float: left;
    width: 45%;
    /* margin: 35px; */
}
iframe{
    height: 280px;
    width: 500px;
    margin-left: 120px;  
    border-width: 20px;
    border-radius: 5px;
    border-color: #88D840;
    border-style: solid;
}
.row .right{
    float: right;
    width: 30%;
    height: 20%;
    margin-top: 20px;
    margin-right: 220px;
}
.row .right p {
    padding: 0;
    font-family: Mulish;
    font-size: 20px;
    text-indent: 40px;
    text-align: justify;
    color: #074074;
}
button{
    border-radius: 50px;
	border: 1px solid #88D840;
	background-color: #88D840;
    color: #FFFFFF;
    font-family: Mulish;
	font-size: 20px;
	padding: 10px 50px;
    letter-spacing: 1px;
    margin: 10px 0 25px 80px;
}
button:hover{
    filter: drop-shadow(0 0 5px grey);
}
footer {
    bottom: 0px;
    background-color: #D8EEFB;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
#foot-left {
    display: inline-block;
    float: left;
    margin-left: 60px;
    margin-bottom: 20px;
}
#foot-right {
    display: inline-block;
    float: right;
    margin: 10px 60px;
}
#brand {
    margin: 0px;
    font-family: Khand;
    font-size: 30px;
    padding-top: 10px;
    color: #074074;
}
#desc {
    margin: 0px;
    font-family: Mulish;
    color: #074074;
}
#foot-right p {
    margin: 5px;
    padding-top: 10px;
    font-family: Mulish;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #074074;
}
#foot-right img {
    width: 25px;
    padding: 10px;
} 
#foot-right img:hover {
    filter: drop-shadow(0 0 5px grey);
}
