@font-face {
    font-family: "Poetsen One"; 
    src: url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot"); 
    src: url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.svg#Poetsen One") format("svg"); 
}
/* @import url(//db.onlinewebfonts.com/c/e7f249e71a563eed9c495835657eb9c2?family=Poetsen+One); */

body {
    margin: 0px;
}
nav {
    padding: 20px;
    background: #ffffff;
    position: fixed;
    border-bottom: 3pt solid #D8EEFB;
    top: 0px;
    width: 100%;
    overflow: hidden;
}
#nav-brand img {
    display: inline-block;
    width: 35px;
    padding: 0px 20px 0px 40px;
    float: left;
}
#nav-menu a {
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 6px 30px;
    font-family: Mitr;
    font-size: 100%;
}
.non-active {
    color: #074074;
}
.active {
    color: #56AF2C;
}
#nav-menu a:hover {
    color: #56AF2C;
}
#nav-profil img{
    display: inline-block;
    float: right;
    padding-top: 2px;
    width: 40px;
}
#nav-profil img:hover{
    filter: drop-shadow(0 0 5px grey);
}
#nav-welcoming a {
    display: inline-block;
    float: right;
    padding: 10px 25px;
    font-family: Mulish;
    font-weight: bold;
    color: #074074;
}
#nav-logout img {
    display: inline-block;
    float: right;
    padding: 5px 80px 0px 10px;
    width: 30px;
}
#nav-logout img:hover{
    filter: drop-shadow(0 0 5px grey);
}
main {
    background-color: #FFFFFF;
    margin-bottom: 7px;
    width: 100%;
    overflow: hidden;
}
#left {
    float: left;
    padding-top: 100px;
    padding-left: 80px;
}
#left p {
    text-align: center;
    color: #074074;
    font-family: MuseoModerno;
    font-size: 40px;
    height: 100px;
}
#left img {
    width: 70%;
    display: inline-block;
    padding-left: 50px;
    padding-bottom: 20px;
}
#right {
    float: right;
    padding-top: 100px;
    padding-right: 120px;
}
#right td {
    width: 261px;
    height: 174px;
    padding: 0;
    text-align: center;
}
#right img {
    width: 220px;
    padding-top: 30px;
    padding-bottom: 15px;
}
#right img:hover{
    filter: drop-shadow(0 0 5px grey);
}
#right a {
    margin: 5px;
    display: inline-block;
    font-size: 35px;
    color: #074074;
    font-family: "Poetsen One";
}
#right p {
    margin: 5px;
    color: #074074;
    font-family: Mulish;
}
footer {
    background-color: #D8EEFB;
    overflow: hidden;
}
#foot-left {
    display: inline-block;
    float: left;
    margin-left: 60px;
    margin-bottom: 20px;
}
#foot-right {
    display: inline-block;
    float: right;
    margin: 10px 60px;
}
#brand {
    margin: 0px;
    font-family: Khand;
    font-size: 30px;
    padding-top: 10px;
    color: #074074;
}
#desc {
    margin: 0px;
    font-family: Mulish;
    color: #074074;
}
#foot-right p {
    margin: 5px;
    padding-top: 10px;
    font-family: Mulish;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #074074;
}
#foot-right img {
    width: 25px;
    padding: 10px;
} 
#foot-right img:hover {
    filter: drop-shadow(0 0 5px grey);
}
